.add-idea-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.add-idea-card {
  width: 60%;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.add-idea-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form Styles */
input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 8px;
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #00a86b;
}

/* Submit Button */
.submit-btn {
  width: 100%;
  background: #01c270;
  padding: 14px;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #009e5f;
}
