.dashboard-container {
  display: flex;
  height: 100vh;
}

/* Left 20% */
.left-section {
  width: 20%;
  background: #b3e5fc;
}

/* Center 60% */
.center-section {
  width: 60%;
  padding: 20px;
  overflow-y: scroll;
  height: 100vh;
}

/* Right 20% */
.right-section {
  width: 20%;
  padding: 20px;
  background: #f1f1f1;
  border-left: 1px solid #ddd;
}

.right-section h3 {
  margin-top: 20px;
}
