.navbar {
  background: #1e3a8a;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.logo {
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #00e6a8;
}

.primary-btn {
  background: #34d399;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
}

.mobile-menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  color: white;
}

.mobile-menu {
  display: none;
}

/* responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .mobile-menu {
    background: #1e3a8a;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 10px;
  }
}
